version: '3.8'

services:
  # spring boot
  backend:
    image: deukr/feelm-backend:latest
    ports:
      - "8080:8080"
    depends_on:
      - batch-service
      - db # DB가 켜져야 백엔드도 켜짐
    environment:
      - TZ=Asia/Seoul  # 한국 시간 설정
      # DB 연결 설정 (Spring이 이 변수를 읽어야 함)
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/feelm?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      # Python 배치 서비스 주소
      - BATCH_SERVICE_URL=http://batch-service:5000
      # (추가) JWT 비밀키가 있다면 여기에 적기
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}

  # python
  batch-service:
    image: deukr/feelm-batch-service:latest
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - TZ=Asia/Seoul
      - DB_HOST=db  # localhost가 아니라 서비스 이름 'db'를 사용해야 함
      - DB_PASSWORD=${DB_PASSWORD}
      - TMDB_API_KEY=${TMDB_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}

  # DB
  db:
    image: mysql:8.0
    container_name: feelm-db
    ports:
      - "3307:3306" # 왼쪽(내 컴퓨터 포트)만 3307로 변경
      # Docker는 3307 포트를 쓰고 로컬에서는 3306 포트를 사용(둘다 사용하기 위해)
    environment:
      - MYSQL_ROOT_PASSWORD=0630
      - MYSQL_DATABASE=feelm
      - TZ=Asia/Seoul
    volumes:
      - ./db_data:/var/lib/mysql # DB 데이터를 컴퓨터에 저장 (컨테이너 삭제돼도 데이터 유지)
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
